body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

.content {
  margin: 5px;
}

h1 {
  color: green;
  font-size: 46px;
}

#titel img {
  width: 100%;
}

#was-kann-es {
  color: blue;
  /*background-color: grey;*/
}

#ueber-uns {
  color: green;
}

#footer {
  font-size: 12px;
}

.button {
  background-color: #4FC2E8;
  color: white;
  text-decoration: none;
  padding: 5px;
  float: right;
  transition: 0.5s background-color, 1s padding;
}

.button:hover {
  background-color: #1C2AED;
}

.button:active {
  background-color: #ED4060;
  padding: 7px;
}

nav {
  background-color: blue;
  padding: 1px 10px;
}

nav ul {
  padding-left: 5px
}

nav li {
  display: inline;
  margin-left: 5px;
  border-left: 1px solid white;
  padding-left: 6px
}

.no-left-border {
  border-left: none;
}

nav li a {
  text-decoration: none;
  color: white;
}