h1 {
  color: green;
  font-size: 46px;
}

#titel img {
  width: 100%;
}

#was-kann-es {
  color: blue;
  background-color: grey;
}

#ueber-uns {
  color: green;
}

#footer {
  font-size: 12px;
}

.button {
  background-color: #4FC2E8;
  color: white;
  text-decoration: none;
  padding: 5px;
  float: right;
  transition: 0.5s background-color, 1s padding;
}

.button:hover {
  background-color: #1C2AED;
}

.button:active {
  background-color: #ED4060;
  padding: 7px;
}